# Backend
FASTAPI_ENV=development
DEBUG=true
SECRET_KEY=sua_chave_secreta_super_segura_aqui_123456

# Database
DATABASE_URL=postgresql://admin:senha_desenvolvimento_123@localhost:5432/o2_solution

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
CORS_ORIGINS=["http://localhost:3000"]
